body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 350px; /* Set a maximum width */
        border: 3px solid black;
        border-radius: 10px;
        background-color: rgb(110, 1, 1);
        padding-top: 20px;
        padding-inline: 0;
        color: white;
        margin-top: 30px;
        /* overflow: hidden; */
    }


