.container {
  width: fit-content;
  position: relative;
  min-height: 100vh;
}
.containerButton {
  display: flex;
  justify-content: center;
  background-color: rgb(244 244 245);
}
.getButton {
  border-radius: 0.375rem;
  background-color: white;
  border: 1px solid black;
}
